{{ partial "header" . }}

<main>

    <div>
        <div class="avatar">
            <img src="img/{{ .Site.Params.avatar }}" alt="Profile image">
        </div>
        <h3>I'm <strong>{{ .Site.Params.author }}</strong>, a Computer Science student at McMaster.</h3>
        <h3>This website is under construction, but should be done soon&trade;.</h3>
        <h3>In the mean time, check out my <a href="https://github.com/SamCymbaluk">Github</a> or <a href="https://devpost.com/SamCymbaluk">DevPost</a>.</h3>
    </div>

</main>

{{ partial "footer" . }}
